* {
  margin: 0;
  padding: 0;
}

.grid {
  position: absolute;
  margin: 20px;
  width: 560px;
  height: 300px;
  border: solid #000 1px;
}

.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: #00f;
}

.user {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: #0f0;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #f00;
}
